*{
    background-color: mediumslateblue;
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px-white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    font-size: larger;
    color: snow;
    margin: auto;
    max-width: 90%;
}
.menu {
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    
}
.menu ul {

  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu li {
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}
.menu li a {
    color:aquamarine;
}
.text {
    margin: auto;
    max-width: 75%;
    text-align: center;
}
.text p strong {
    color: snow;
    font-size: larger;
}
.servicios h2 {
    text-align:center;
    font-size:xx-large;
    margin-top: 30px;
    margin-bottom: 30px;
}
.service_img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.service_img_card {
    text-align: center;
}
.service_img_card img{
    width: 300px;
    height: 225px;
    
}
.service_img_card p{
    width: 350px;
    height:auto;
}
.icons {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: baseline;
    flex-wrap: wrap;
}
.icons ul li {
    display:inline-flex;
    flex-direction:row;
    padding: 0 5px 0 5px;
}
.icons ul li img {
    width: 50px;
    height: 50px;
}




